<div>
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="onSearchInputChanged($event)"
    placeholder="Search..."
  />

  <select [(ngModel)]="selectedCategoryId" (ngModelChange)="onCategoryChange()">
    <option value="" disabled>Select a Category</option>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.name }}
    </option>
  </select>

  <button (click)="performSearch(searchQuery)">Search</button>

  <div *ngIf="searchResults.length > 0">
    <ul>
      <li *ngFor="let result of searchResults" (click)="onResultClick(result)">
        {{ result.title | wrapWithUnderscope }}
      </li>
    </ul>
  </div>

  <div *ngIf="searchResults.length === 0 && searchQuery.length > 0">
    <p>No results found.</p>
  </div>
</div>
