.search-container {
  max-width: 40rem;
  margin: auto;
  padding: 5rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
}

mat-list {
  margin-top: 1rem;
  max-height: 200rem;
  overflow-y: auto;
}

mat-list-item {
  transition: background-color 0.2s ease;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.result-title {
  cursor: pointer;
}

mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
